.login-view {
    height: 100vh;
    width: 100vw;
    display: flex;

    .login-window {
        display: flex;
        flex-direction: column;
        box-shadow: 0.25rem 0.25rem 0rem rgba(98, 98, 157, 0.65);
        z-index: 2;
        margin: 0 auto;
        align-self: center;
        height: 500px;
        width: 300px;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
        border-radius: 3rem;
        backdrop-filter: blur(5px);

        // .login-title {
        //     position: relative;
        //     width: 100%;
        //     height: 75px;
        //     background-color: #ffeccc;
        //     border-radius: 3rem 3rem 0 0;

        //     &::before {
        //         content: "";
        //         position: absolute;

        //         background-color: transparent;
        //         bottom: -6rem;
        //         height: 6rem;
        //         width: 3rem;
        //         border-top-left-radius: 3rem;
        //         box-shadow: 0 -3rem 0 0 #ffeccc; /* This is where the magic happens! */
        //     }
        //     &::after {
        //         content: "";
        //         position: absolute;

        //         background-color: transparent;
        //         bottom: -6rem;
        //         right: 0;
        //         height: 6rem;
        //         width: 3rem;
        //         border-top-right-radius: 3rem;
        //         box-shadow: 0 -3rem 0 0 #ffeccc; /* This is where the magic happens! */
        //     }
        // }

        .login-title {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 100px;
            border-radius: 3rem 3rem 0 0;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-grow: 1;
            padding: 1rem;
            margin: 0.5rem;
            border-radius: 3rem;
            background: linear-gradient(225deg, #55ffd555, #e4bbd0aa);
        }

        // .login-form {
        //     z-index: 1;
        //     //box-shadow: 0 -0.25rem 0rem 0.25rem rgba(98, 98, 157, 0.65);
        //     flex-grow: 1;
        //     width: 100%;
        //     border-radius: 3rem;
        // }
    }
}
