.nav-bar {
    height: 100vh;
}

.nav-bar-app-bar {
    position: absolute !important;
    width: -webkit-fill-available !important;
    backdrop-filter: blur(10px);
}

.nav-bar-element-background {
    line-height: 1.4;
    color: black !important;
    background-color: white !important;
    padding: 10px 20px !important;
    border-radius: 16px !important;
}

.nav-bar-element-icon {
    color: black !important;
    background-color: white !important;
    padding: 10px 10px !important;
    border-radius: 50% !important;
}
