.parent{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    div{
        display:flex;
    }

}

.siur, .dupcia {
    font-size: 3rem;
    width: max-content;
}

.siur{
    line-height: 1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation: 1s ease-in-out infinite fuck alternate;
}

@keyframes fuck {
    from {
        transform:translateX(0px);
    }

    to {
        transform:translateX(70px);
    }
}