@font-face {
    font-family: 'iA Quattro';
    src: url("./assets/fonts/iAWriterQuattroS-Regular.woff") format("woff");
}

@font-face {
    font-family: 'iA Quattro';
    src: url("./assets/fonts/iAWriterQuattroS-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: 'iA Quattro';
    src: url("./assets/fonts/iAWriterQuattroS-BoldItalic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: 'iA Quattro';
    src: url("./assets/fonts/iAWriterQuattroS-Italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Pixelboy';
    src: url("./assets/fonts/Pixelboy.ttf") format("truetype");
}

@font-face {
    font-family: 'Fipps';
    src: url("./assets/fonts/Fipps-Regular.woff") format("woff");
}

body{
    overflow: hidden;
}