@import "../../colors.scss";

.tile-view{
    margin: 0 auto;
    flex-grow: 1;

    .menu{
        padding: 2rem;
        z-index: 2;
        align-self: center;
        height: 60vh;
        width: 70vw;
        background-color: #74747433;
        border-radius: 3rem;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        margin-top: 2rem;
    }
        .card{
            padding: 2rem;
            z-index: 2;
            align-self: center;
            height: 500px;
            background-color: #74747433;
            border-radius: 3rem;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);

            .card-inside-property {
                min-width: 240px;
                text-align: center;
                color: white;
                font-size: 2rem;
                img{
                    margin-top: 1rem;
                    height: 100px;
                    width: 100px;
                }
            }
    }
}
